extends layout.pug

block style
    style.
        .row {
            padding: 5px;
        }

block scripts
    script.
        $(document).ready(function (){
            $("#join").click(function() {
                $("#joinGame").toggle("fast", function() {
                    if($("#joinGame").is(":visible")){
                        $("#name").focus();
                    }
                });
            });
            
            $("#submit").click(() => {
                if($("#name").val().replace(/\s/g,'') == '' || $("#name").val().replace(/\s/g,'') == undefined){
                    $("#warning").show()
                } else {
                    window.location.href = '/player/' + $("#name").val().replace(/\s/g,'');
                }             
            });

            $("#host").click(() => {
                window.location.href = '/host'
            })
        });

block content
    div(class="container mx-auto text-center" style="margin: 5")
        h1 Setup
        div(class="container")
            div(class="row")
                button(type="button" class="btn btn-primary btn-block btn-lg" id="join") Join game
            form(class='row' id="joinGame" style="display:none")
                input(class='form-control col-10 container-fluid' type="text" id="name" placeholder="Name" style="margin-right: 5px")
                input(class='btn btn-primary col container-fluid' type="button" value="Join" id="submit")
                h3(id="warning" class='text-danger' style="display:none") Please enter a name
            div(class="row")
                button(type="button" class="btn btn-secondary btn-block btn-lg" id="host") Host Game
