extends layout.pug

block scripts
    script.
        $(document).ready(function (){
            var socket = io('/host')
            buzzedList = []
            playersList = []
            status = 'loading'
            GameStates = {}

            function updatePlayers() {
                $("#joinedPlayers").empty();
                for(player of playersList){               
                    $("#joinedPlayers").append("<li id='player'>" + player + "</li>")
                }
            }

            function updateBuzzed(){
                $("#buzzedInList").empty();
                for(player of buzzedList){               
                    $("#buzzedInList").append("<li id='player'>" + player + "</li>")
                }
            }

            function updateStatus() {
                $('#status').text("Status: " + status)    
            }

            function updateLockButton(){
                if(status == GameStates.OPEN){
                    $("#locker").removeClass('btn-success').addClass('btn-danger').empty().append("Lock")
                } else if (status = GameStates.LOCKED){
                    $("#locker").removeClass('btn-danger').addClass('btn-success').empty().append("Unlock")
                }
            }

            socket.on('connect', () => {
                //this function does not seem to be running
                socket.emit('setUpHost', (statusRes, players, buzzed, GameStatesReturn) => {
                    status = statusRes
                    playersList = players
                    buzzedList = buzzed
                    GameStates = GameStatesReturn
                    updateStatus()
                    //set the button correctly based on status 
                    updatePlayers()
                    updateLockButton();
                });
            });

            socket.on('updatePlayers', (players) => {
                playersList = players
                updatePlayers()
                console.log('update ' + playersList)
            })

            socket.on('buzzedIn', (buzzed) => {
                buzzedList = buzzed
                updateBuzzed()
            })

            $("#locker").click(() => {
                socket.emit('changeStatus', status, (newStatus) => {
                    status = newStatus
                    updateLockButton()
                    updateStatus()
                });
            });

            $("#clear").click(() => {
                socket.emit('clearBuzzing', (buzzed) => {
                    buzzedList = buzzed
                    updateBuzzed();
                    console.log($("#lockAfterResetCheck").prop("checked"))
                    if($("#lockAfterResetCheck").prop("checked") && status == GameStates.OPEN){
                        socket.emit('changeStatus', status, (newStatus) => {
                            status = newStatus
                            updateLockButton()
                            updateStatus()
                        });
                    }
                })
            })
        })
        


block content
    div(id="main", class="container flex-fill")
        h2(id="status" style="text-align: center") Status: loading
        div(class="container" id="buttons")
            div(class="row")      
                button(id="locker" type="button" class="btn btn-danger col" style="height: 100px; margin: 5px") Lock
                button(id="clear" type="button" class="btn btn-secondary col" style="height: 100px; margin: 5px") Reset
        #BuzzList
            div(class="container d-flex justify-content-center")
                div
                    h3(style="text-align: center") Buzzed In Players
                    ol#buzzedInList
        #options
            input(class="form-check-input" type="checkbox" id="lockAfterResetCheck" checked)
            label(class="form-check-label" for="lockAfterResetCheck") Lock when resetting buzzes           
        #players
            h6 Joined Players
            ul#joinedPlayers
        

